@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model FortniteCompetition.Models.Account.RegisterViewModel
@{
    Layout = "_Layout";
}

<div class="main-container">

        <fieldset class="account">

            <h1 class="lr-heading">Memeber Registration</h1>

            <br />

            <form role="form" asp-action="Register">
                <div asp-validation-summary="All" class="input-validation-error"></div>

                <div class="form-group">
                    <label asp-for="EmailAddress"></label>
                    <input type="email" asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="field-validation-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="field-validation-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>
                </div>
                <br />
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-user">Create new user</button>


            </form>
        </fieldset>
</div>
