@{
    Layout = "_Layout";
}

<div class="main-container text-center">
    <h1>Why Join Our Bowling Club</h1>
    <p>
        Joining our bowling club is a great way to meet new people,
        stay active, and have fun. At Sunnybrae Bowling Club,
        we pride ourselves on being one of the friendliest clubs
        in Palmerston North. We welcome people of all ages and backgrounds,
        and offer a range of benefits to our members, including very
        competitive membership fees, unlimited bowling all year round, and
        a great social scene with dinners, quizzes, and parties. Whether
        you’re a seasoned bowler or just starting out, we have something for
        everyone. Come try out this beautiful game for yourself, for free for an
        entire month with absolutely no pressure to join.
    </p>
</div>